.container-title{
    position: relative;
}
.main{
    padding-bottom: 2rem;
}
.title{
    position: absolute;
    z-index: 20;
    text-align: center;
    top: 5rem;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title > h2{
    background-color: hsl(6, 93%, 83%, 0.7);
    width: 60%;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    border-radius: 1rem;

    padding: 2rem;
}
.title > h2 > span{
    color: white
}

.category-nav{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-around;
    padding: 2rem 0 .3rem 0;
    margin: 0 10%;
    border-bottom: 2px white solid;
}
.btn-category{
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
    cursor: pointer;
}
.btn-category:hover{
    border-bottom: 2px solid white;
}
@media (min-width: 750px){
    .category-nav{
        flex-direction: row;
    }
    .btn-category{
        margin: 0;
    }
}

/** lista de items **/

.list-items{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
@media (min-width: 750px){  
    .list-items{
        grid-template-columns: repeat(2, 40%);
    }
}
.buttons-line{
    display: flex;
    width: 100%;
    padding: 2rem 0 0 0;
    justify-content: center;
}
.prev{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    padding: .5rem;
    text-align: center;
    margin-right: 2rem;
    cursor: pointer;
}
.next{
    border: 1px solid white;
    border-radius: 50%;
    padding: .5rem;
    text-align: center;
    background-color: transparent;
    margin-left: 2rem;
    cursor: pointer;
}
.cont-srearch{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 850px){
    .cont-srearch{
        grid-template-columns: repeat(3, 1fr);
    }
}
.water{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.input{
    width: 50%;
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    margin: 0 auto;
    text-align: center;
}